@attribute [Authorize]
@inject IAntiforgeryHttpClientFactory httpClientFactory

@inject MudBlazor.ISnackbar snackBar

<MudPaper Class="mud-width-full pa-4">
    <MudText>Version infos </MudText>

    <div class="d-flex">
        <VersionMetadataEdit Version="Version" IsEdit="IsEdit" />
    </div>

    @* @if (IsEdit)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-8"
                   Disabled="@_updateProcessing" OnClick="UpdateInformations">Update informations</MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-8"
                   Disabled="@_updateProcessing" OnClick="CreatePackage">Create package</MudButton>
    } *@
</MudPaper>

<MudPaper Class="mud-width-full pa-4">
    <MudText>Installers infos </MudText>

    <InstallerList Version="Version" />
</MudPaper>

@code
{
    [Parameter] public VersionDto Version { get; set; }
    [Parameter] public bool IsEdit { get; set; }
}
