@page "/"

@attribute [Authorize]

<PageTitle>Winget Nexus home page</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome</MudText>

<MudText Class="mb-8">
    Use the <a href="">Application</a> link on the left to add packages and versions.
</MudText>

<MudList>
    <MudListItem>An <em>application</em>, such as notepad++.</MudListItem>
    <MudListItem>A <em>version</em> is a specific release of an application, such as 1.2.3.4.</MudListItem>
    <MudListItem>Every version has at least one <em>installer</em>.</MudListItem>
</MudList>
    
